body {
  margin: 0px;
}

.main-body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.sketchpad {
  display: flex;
  flex: none;
  flex-wrap: wrap;
  width: 480px;
  height: 480px;
  border: 5px solid black;
  margin: 0px;
  gap: 0px;
}

.sqcolor {
  background-color: black;
}

.square100,
.square64,
.square32,
.square16 {
  box-sizing: border-box;
  border: 1px solid rgb(128, 128, 128, 0.2);
}
.square100 {
  height: 4.8px;
  width: 4.8px;
}
.square64 {
  height: 7.5px;
  width: 7.5px;
}
.square16 {
  height: 30px;
  width: 30px;
}

.square8 {
  height: 60px;
  width: 60px;
}
.square32 {
  height: 15px;
  width: 15px;
}

.hidden {
  display: none;
}
.active {
  background-color: black;
  color: white;
}
